.App {
  text-align: center;
}

.personalInvestents{
  display: flex;
  flex-direction: wrap;
}
.investment{
  border: 1px solid black;
  color:green

}

.badInvestment{
  border: 1px solid black;
  color:red;
  cursor: none;
  
  
}

.personalInvestments{
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 3px solid #ddd;
  /* display: flex; */
  /* justify-content: center; */
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 12px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding: 10px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

.delete {
  text-align: center;
  
}
.deleteButton{
  border-radius: 30px;
  background-color: white;
  
}

.deleteButton:hover{
  border-radius: 30px;
  background-color: red;
  cursor:pointer;
}

